<!DOCTYPEhtml>

<html>
<head>
{% block head %}
	<title>Home</title>
	<link rel="icon" href="/static/img/LongDasherIcon.png" type="img/gif">
	<link rel="stylesheet" type="text/css" href="../static/home.css">
{% endblock %}
</head>
<body>	 
	<div class="container">
		<div id="nav">
			<div class="home">
				<a href="/home"></a>
			</div>
			<div class="profilelink">
				<!-- this will link you to your own profile -->
				<a href="/profile/{{users[0].id}}"><img src="/static/img/sampleprofile.png" width="100px"></a>
			</div>
			<div class="sidebar">
				<ul>
				<!-- sidebar -->
				<li><a href="/home">home</a></li>
				<li><a href="/herds">herds</a></li>
				<li><a href="/message">message</a></li>
				<li><a href="/settings">settings</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
</html>
