<!DOCTYPE html>

<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<link rel="stylesheet" type="text/css" href="../static/herds.css">
</head>
<body>

	<div class="container">
		<div id="nav">
			<div class="home">
				<a href="/home"></a>
			</div>
			<div class="profilelink">
				<!-- this will link you to your own profile -->
				<a href="/profile"><img src="/static/img/sampleprofile.png" width="100px"/></a>
			</div>
			<div class="sidebar">
				<ul>
				<!-- sidebar -->
				<li><a href="/home">home</a></li>
				<li><a href=/herds">herds</a><li>
				<li><a href="/message">message</a></li>
				<li><a href="/settings">settings</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="mainpage">
			<h1>meet the herd</h1>
			
			<img src="/static/img/kayakingcover.jpg" width="800px"/>
			<div id="about kayaking">
				<h2>about kayaking</h2>
				<br>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce malesuada arcu in ex maximus, nec congue purus pellentesque. Vestibulum placerat pharetra est, in rutrum erat sagittis sed. Vestibulum et venenatis tortor, id tincidunt dolor. Morbi mattis dui nibh, sed pellentesque risus suscipit a. Duis quis auctor lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. </p>
			</div>
			<div id="dashers">
				<h2> dashers in kayaking </h2>
				<div id="firstrow">
					<img src="/static/img/basketweaving.png" width="100px"/>
					<img src="/static/img/candle.png" width="100px"/>
					<img src="/static/img/existing.png" width="100px"/>
					<img src="/static/img/knitting.png" width="100px"/>
				</div>
			</div>
		</div>

</body>
</html>
